body {
  background-color: #878787;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  background-color: #cacaca;
  /* width: 30rem; */
  padding: 2rem;
  margin: 5rem auto;
  /* min-width: 100px; */
  max-width: 30rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.person {
  display: flex;
  justify-content: left;
  gap: 1rem;
  margin-bottom: 1rem;
}
img {
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h3 {
  font-size: 1.25rem;
  text-align: center;
}

h4 {
  /* font-size: 0.875rem; */
}

h5 {
  font-size: 0.9rem;
  text-align: center;
  padding: 0px;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

p {
  margin-bottom: 1.25rem;
  color: grey;
}
.button {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.button button {
  background: #00747c;
  border-color: transparent;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  margin: 2rem 1rem 0;
  outline: 1px solid rgba(242, 138, 178, 0.8);
  padding: 0.5rem 0;
  text-transform: capitalize;
  width: 30%;
}
@media screen and (max-width: 26rem) {
  .container {
    font-size: 1.3em;
  }
  .person {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .right {
    text-align: center;
  }
}
